*{
    padding: 0;
    margin: 0;
}
body{
    background: url(img.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}
.container
{
  position: relative;
  margin-top: 100px;
  width: 450px;
  height: auto;
  background: #def39e;
  border-radius: 5px;

}
.label
{
  padding: 20px 130px;
  font-size: 35px;
  font-weight: bold;
  color: #292828;
}
.Login_form
{
 padding:  20px 40px;

}
.Login_form .font{
    font-size: 18px;
    color: #130f13;
    margin: 5px 0px;

}
.Login_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid red;
}
.Login_form .font2{
    margin-top: 30px;
}
.Login_form button{
    
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: rgb(247, 244, 244);
    outline:none;
    cursor: pointer;
    font-weight: bold;
    background: #292828;
    border-radius: 3px;
    border: 1px solid #1d1c1b;
    transition: .5s;

}
.Login_form button:hover{
    background: #0c60dd;
}
.Login_form #email_error,
.Login_form #pass_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #aa2727;
    background: rgba(243, 126, 126, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;

}